* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  gap: 1rem;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form label {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

#login-form input {
  border-radius: 10px;
  border: 1px solid grey;
  width: 100%;
  height: auto;
  padding: 0.4em;
}

.passwd-wrap {
  position: relative;
}

.password-show-toggle {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  width: 1.5rem;
  display: flex;
  align-items: center;
}

.password-show-toggle img {
  width: 100%;
  height: auto;
}

#login-button {
  width: fit-content;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #24a0ed;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

#login-button:hover {
  background-color: orange;
  scale: 0.95;
}
