<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reiciendis iste sapiente soluta culpa! A magni eligendi sapiente maxime sit!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores mollitia numquam minima ipsum nesciunt assumenda voluptatum unde optio eos eum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolore vero repellat mollitia sapiente praesentium sit quis, ea a commodi?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>