<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js" defer></script>
    <title>Blog Ninja | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="login-container content">
        <h3>Login</h3>
        <form action="" id="login-form">
            <label for="username">
                <span>Username</span>
                <input type="text" id="username" required>
            </label>
            <label for="password">
                <span>Password</span>
                <div class="passwd-wrap">
                    <input type="password" id="password" required>
                    <button type="button" class="password-show-toggle"><img src="./eye_open.svg" alt="show password"></button>
                </div>
            </label>
            <button type="submit" id="login-button">Login</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>

